<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PLog</title>
	<link rel="short icon" href="./public/images/plog.ico">
	<link rel="stylesheet" href="./public/css/font-awesome.css">
	<link rel="stylesheet" href="./public/css/Common.css">
	<link rel="stylesheet" href="./public/css/header.css">
	<link rel="stylesheet" href="./public/css/windows.css">
	<link rel="stylesheet" href="./public/css/MyInfo.css">
	<link rel="stylesheet" href="./public/css/module_swig.css">
	<link rel="stylesheet" href="./public/css/bootstrap.css">
	<script src="./public/js/jquery.js"></script>
	<script src="./public/js/popper.js"></script>
	<script src="./public/js/bootstrap.js"></script>
	{%if logon == 1%}
	{% include  "../decorate/styles/c0-common.html" %}
	{% block css %}{% endblock %}
	{% endif %}
	<script>
		history.pushState(null, null, document.URL);
		window.addEventListener('popstate', function () {
		    history.pushState(null, null, document.URL);
		});
	</script>
	<script src="./public/js/components.js"></script>
</head>
<body ondragstart="return false;">
<div class="container0">
	{% include "./www/container.html" %}
	{% block container %}{% endblock %}
</div>
	<script src="./public/js/controls.js"></script>
	<script src="./public/js/windows.js"></script>
	<script src="./public/js/logOreg.js"></script>
</body>
</html>