<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MyBlog</title>
	<link rel="stylesheet" href="./public/css/font-awesome.css">
	<link rel="stylesheet" href="./public/css/Common.css">
	<link rel="stylesheet" href="./public/css/header.css">
	<link rel="stylesheet" href="./public/css/windows.css">
	<link rel="stylesheet" href="./public/css/MyInfo.css">
	<link rel="stylesheet" href="./public/css/module_swig.css">
	<script src="./public/js/jquery.js"></script>
	<script src="./public/js/components.js"></script>
</head>
<body>
	<div class="container">
		<!-- 屏障上线的话通过js动态生成 -->
		<div class="header-barrier"></div>
		<div class="mask container-mask"></div>
		<div class="mask myinfo-mask"></div>
		<div class="mask myblog-mask"></div>
		<div class="mask myorder-mask"></div>
		<!-- 全体公共头部 -->
		<header class="header" ondragstart="return false;">
			<div class="header-title">
				<input type="radio" class="h-title Myinfo" name="h-picker-choice" id="Myinfo" checked="checked">
				<span>MyInfo</span>
				<input type="radio" class="h-title Myblog" name="h-picker-choice" id="Myblog">
				<span>MyBlog</span>
				<input type="radio" class="h-title Myorder" name="h-picker-choice" id="Myorder">
				<span>MyOrder</span>
				<input type="checkbox" name="header-music" id="header-music" checked="checked">
				<span id="mymusic" class="fa">♬</span>
			</div>
			<div class="header-search">
				<input type="text" name="search" id="search-all">
				<span class="fa fa-search" id="search-all-icon"></span>
			</div>
			<div class="time-clock">22 : 54</div>

			<div class="logOreg">
				<span class="log" id="log">
					登入/
				</span>
				<span class="register" id="register">
					注册
				</span>
			</div>
		</header>
		<!-- 滚动页面框 -->
		<div class="scroll-content">
			<div class="content content0" id="pg-Myinfo" data-react="1">
				<div class="content0-container">
					<div class="content0-left">
						<ul class="content0-lists">
							<li class="lists-info-0" data-react="1">个人资料</li>
							<li class="lists-info-1" data-react="0">订阅信息</li>
							<li class="lists-info-2" data-react="0">最近浏览</li>
							<div class="content0-left-line" style="height:5px;border-radius: 3px;background: #f0f1f1;"></div>
							<li class="lists-info-3" data-react="0">我的粉丝</li>
							<li class="lists-info-4" data-react="0">我的博客</li>
							<li class="lists-info-5" data-react="0">我的下载</li>
							<li class="lists-info-6" data-react="0">我的评论</li>
							<li class="lists-info-7" data-react="0">我的关注</li>
						</ul>
					</div>
					<div class="content0-right">

					</div>
				</div>
			</div>
			<div class="content content1" id="pg-Myblog" data-react="0">
				<header class="content1-header"></header>
				<section class="content1-section"></section>
				<footer class="content1-footer"></footer>
			</div>
			<div class="content content2" id="pg-Myorder" data-react="0">
				<header class="content2-header"></header>
				<section class="content2-section"></section>
				<footer class="content2-footer"></footer>
			</div>
		</div>
		<!-- myinfo-page -->
		<div class="windows-myinfo">
			<!-- 登录/注册/验证页面 -->
			<div class="logOreg-panel">
				<!-- 登录和注册页面2的三按钮-->
				<div class="lr-panel-icon">
					<span class="log-icon lr-icon-click lr-icon-move0" data-react="0">Log</span>
					<span class="reg-icon" data-react="0">Reg</span>
				</div>
				<div class="lr-panel-close">
					<span class="fa fa-close"></span>
				</div>
				<!-- 注册/登录提示信息弹窗 -->
				<div id="pop-window">
					<span class="fa fa-frown-o pop-ep"></span>
					<span class="pop-text"></span>
				</div>
				<!-- 登录框页面 -->
				<div class="lr-panel lr-panel0" data-react="0">
					<header class="lr-panel0-header">
						<span class="lr-panel0-brand">Login</span>
					</header>
					<section class="lr-panel0-body" id="lr0-body" ondragstart="return false;">
						<span class="fa fa-user"></span>
						<span class="fa fa-keyboard-o"></span>
						<span class="log-text">Order by Plog...</span>
						<input type="text" name="username" id="username" maxlength="24" autocomplete="off" autofocus placeholder="Username">
						<input type="password" name="password" id="password" autocomplete="off" autofocus placeholder="Password" maxlength="24">
						<input type="checkbox" name="login" checked disabled="true">
						<button id="submit">Comin</button>
					</section>
					<footer class="lr-panel0-footer">
						<span>Welcome back here! Thanks for your coming</span>
					</footer>
				</div>
				<!-- 注册框页面 -->
				<div class="lr-panel lr-panel1" data-react="0">
					<header class="lr-panel1-header">
						<span class="lr-panel1-brand">Register</span>
					</header>
					<section class="lr-panel1-body" id="lr1-body" ondragstart="return false;">
						<span class="reg-text">Welcome to U bro...</span>
						<span class="fa fa-envelope-o right-icon right-icon0"></span>
						<span class="fa fa-key right-icon right-icon1"></span>
						<span class="fa fa-key right-icon right-icon2"></span>
						<input type="text" name="username" id="reg-username" maxlength="24" autocomplete="off" autofocus placeholder="Register@email">
						<input type="password" name="password" id="reg-password" autocomplete="off" autofocus placeholder="Password" maxlength="20">
						<input type="password" name="repassword" id="reg-repassword" autocomplete="off" autofocus placeholder="Reconfirm" maxlength="20">
						<input type="checkbox" name="register" checked="checked">
						<button id="reg-submit" data-period="">Register</button>
						<button id="reg-clear">Reset</button>
					</section>
					<footer class="lr-panel1-footer">
						<span>Welcome to U bro! Thanks for your register</span>
					</footer>
				</div>
				<!-- 验证框页面 -->
				<div class="lr-panel lr-panel2">
					<section class="lr-panel2-body">
						<div class="wrapper">
						  <div class="swing">
						    <div class="human">
						      <div class="top-part">
						        <div class="head">
						          <div class="hair"></div>
						          <div class="fringe"></div>
						          <div class="eye"></div>
						          <div class="mouth"></div>
						        </div>
						        <div class="body">
						          <div class="hand">
						            <div class="hand-one"></div>
						            <div class="hand-two"></div>
						          </div>
						        </div>
						      </div>
						      <div class="leg-one"></div>
						      <div class="leg-two"></div>
						    </div>
						    <div class="swing-rod"></div>
						    <div class="bottom"></div>
						  </div>
						  <div class="pole one"></div>
						  <div class="pole two"></div>
						</div>
					</section>
					<footer class="lr-panel2-footer">
						<div id="lr-verify2">
							<div class="slide-bg"></div>
							<div class="slide-text" ondragstart="return false;">
								请拖动滑块进行验证
							</div>
							<div class="slide-btn">| | |</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
		<footer class="footer"></footer>
	</div>

	<script src="./public/js/controls.js"></script>
	<script src="./public/js/windows.js"></script>
	<script src="./public/js/logOreg.js"></script>
</body>
</html>